In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
base_dir = os.getcwd()

In [12]:
data_filename = "m29_7arcmin_panstarrs_data.csv"
data = pd.read_csv(os.path.join(base_dir, data_filename), sep=';')
useful_columns = ["_r", "RAJ2000", "DEJ2000", "gmag", "e_gmag", "rmag", "e_rmag", "imag", "e_imag", "zmag", "e_zmag"]
data = data[useful_columns]

def to_float(x): 
    try: 
        return float(x)
    except Exception:
        return np.nan 
data = data.applymap(to_float).astype(float)

print(data.describe())

                _r      RAJ2000      DEJ2000         gmag       e_gmag  \
count  6103.000000  6103.000000  6103.000000  2775.000000  1760.000000
mean      4.713027   305.933606    38.482211    21.518668     0.059655
std       1.622350     0.074891     0.058212     3.321451     0.068847
min       0.034900   305.794028    38.370887     8.725000     0.000000
25%       3.582200   305.872763    38.433972    19.862950     0.009475
50%       4.991800   305.929423    38.481161    21.577800     0.030750
75%       6.088200   305.992937    38.528819    23.208000     0.081100
max       6.999900   306.091144    38.602637    30.090000     0.432200

              rmag       e_rmag         imag       e_imag         zmag  \
count  3702.000000  3187.000000  5594.000000  5401.000000  5895.000000
mean     20.065846     0.061443    19.683335     0.050423    19.009028
std       2.377252     0.069253     1.994553     0.058106     1.806394
min       7.983500     0.000000     8.156000     0.000000     7.266100
25%      19.064600     0.010850    18.862500     0.010900    18.281500
50%      20.661800     0.032200    20.261600     0.027300    19.488900
75%      21.540800     0.088900    21.132475     0.065300    20.319900
max      26.201000     0.479500    22.840000     0.453500    21.330400

            e_zmag
count  5831.000000
mean      0.044909
std       0.050470
min       0.000000
25%       0.011500
50%       0.026000
75%       0.058800
max       0.462700

In [13]:
data.dropna(subset=["gmag", "rmag", "imag", "zmag"], inplace=True)
gmags = data["gmag"]
print(data.describe())

                _r      RAJ2000      DEJ2000         gmag       e_gmag  \
count  2641.000000  2641.000000  2641.000000  2641.000000  1629.000000
mean      4.725604   305.935539    38.483476    21.623468     0.055435
std       1.592680     0.075223     0.058280     3.276687     0.065481
min       0.034900   305.794028    38.371720     8.725000     0.000000
25%       3.592300   305.873864    38.435752    19.892500     0.009100
50%       4.972200   305.929754    38.482309    21.618000     0.028400
75%       6.075000   305.994990    38.529979    23.485000     0.070900
max       6.999800   306.091144    38.602637    30.090000     0.432200

              rmag       e_rmag         imag       e_imag         zmag  \
count  2641.000000  2131.000000  2641.000000  2451.000000  2641.000000
mean     19.719195     0.036523    18.562242     0.022226    17.803363
std       2.478741     0.049236     2.039345     0.034142     1.803760
min       8.338800     0.000000     8.156000     0.000000     7.967000
25%      18.477900     0.007600    17.599900     0.005500    16.969300
50%      20.027000     0.018800    18.905700     0.011600    18.182700
75%      21.212300     0.042000    19.840200     0.022950    18.933000
max      26.201000     0.458600    22.840000     0.375800    21.138700

            e_zmag
count  2579.000000
mean      0.019080
std       0.025128
min       0.000000
25%       0.005700
50%       0.011900
75%       0.021200
max       0.335600

In [14]:
%matplotlib qt
fig = plt.figure()
ax = plt.axes(projection="3d")
gmags = data["gmag"]
rmags = data["rmag"]
imags = data["imag"]

ax.scatter3D(gmags, rmags - gmags, imags - gmags, s=1, color='red')
ax.set_xlabel("G mag")
ax.set_ylabel("R - G")
ax.set_zlabel("I - G")
plt.show()

## Load isochrones

In [17]:
times = [6.0 + i*0.1 for i in range(31)]

filenames = [f"isochrone_{10*t:.0f}.dat" for t in times]
isochrone_cols = ["M_ini", "MV", "U-B", "B-V", "V-R", "V-I"]
isochrones = {times[i]: pd.read_csv(os.path.join("..", "isochrones", filenames[i])[isochrone_cols], delim_whitespace=True) for i in range(len(filenames))}
for t in isochrones:
    print(t)
    print(isochrones[t].info())

6.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
6.9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64
 17  Gbp-V     51 non-null     float64
 18  Grp-V     51 non-null     float64
 19  GFlag     51 non-null     int64
 20  BC        51 non-null     float64
 21  r_pol     51 non-null     float64
 22  oblat     51 non-null     float64
 23  g_pol     51 non-null     float64
 24  Omega_S   51 non-null     float64
 25  v_eq      51 non-null     float64
 26  v_crit1   51 non-null     float64
 27  v_crit2   51 non-null     float64
 28  Om/Om_cr  51 non-null     float64
 29  lg(Md)    51 non-null     float64
 30  lg(Md_M)  51 non-null     float64
 31  Ga_Ed     51 non-null     float64
 32  H1        51 non-null     float64
 33  He4       51 non-null     float64
 34  C12       51 non-null     float64
 35  C13       51 non-null     float64
 36  N14       51 non-null     float64
 37  O16       51 non-null     float64
 38  O17       51 non-null     float64
 39  O18       51 non-null     float64
 40  Ne20      51 non-null     float64
 41  Ne22      51 non-null     float64
 42  Al26      51 non-null     float64
dtypes: float64(42), int64(1)
memory usage: 17.3 KB
None
7.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   M_ini     51 non-null     float64
 1   Z_ini     51 non-null     float64
 2   OmOc_ini  51 non-null     float64
 3   M         51 non-null     float64
 4   logL      51 non-null     float64
 5   logTe_c   51 non-null     float64
 6   logTe_nc  51 non-null     float64
 7   MBol      51 non-null     float64
 8   MV        51 non-null     float64
 9   U-B       51 non-null     float64
 10  B-V       51 non-null     float64
 11  V-R       51 non-null     float64
 12  V-I       51 non-null     float64
 13  J-K       51 non-null     float64
 14  H-K       51 non-null     float64
 15  V-K       51 non-null     float64
 16  G-V       51 non-null     float64